body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242a36;
    color: #c8c9cc;
}

#list {
    background-color: #72829e;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

#go-button {
    background-color: #72829e;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

#profileImage {
    border-radius: 10px;
}

#go-button:hover {
    background-color: #bfc3f5;
}